span.aname {font-weight:bold;}

div.login_header {height:53px; margin-bottom:20px;}

div.login_header div.menu {
height:28px;
font:bold 18px 'lucida grande',tahoma,verdana,arial,sans-serif;
line-height:28px;
vertical-align:middle;
color:#ffffff !important;
background-color:#627BAD;
border-top:8px solid #3B5A98;
border-right:8px solid #3B5A98;
margin-left:53px;
padding-left:10px;
}

div.login_header div.menu span {font-size:11px; color:#eee;}

div.login_header div.menu a {
float:right;
font-size:11px;
color:#ffffff !important;
text-decoration:none;
padding:0px 10px;
}

div.login_header div.menu a:hover {background-color:#6D86B7;}

div.login_header div.img {
width:50px;
height:50px;
position:absolute;
z-index:1;
}

div.login_header div.img img {border:none;}

#sidebar #fbcomcon {font:11px/13px 'lucida grande',tahoma,verdana,arial,sans-serif;}
#sidebar #fbcomcon .wallkit_post .wallkit_postcontent h4{padding:0 5px 3px 0;font-weight:normal;line-height:12px;}
#sidebar #fbcomcon .wallkit_post .wallkit_postcontent h4 .wall_time{margin:0;font-size:9px;padding:0;color:#808080}
