span.aname {font-weight:bold;}

div.login_header {height:53px; margin-bottom:20px;}

div.login_header div.menu {
height:28px;
font:bold 18px 'lucida grande',tahoma,verdana,arial,sans-serif;
line-height:28px;
vertical-align:middle;
color:#ffffff !important;
background-color:#627BAD;
border-top:8px solid #3B5A98;
border-right:8px solid #3B5A98;
margin-left:53px;
padding-left:10px;
}

div.login_header div.menu span {font-size:11px; color:#eee;}

div.login_header div.menu a {
float:right;
font-size:11px;
color:#ffffff !important;
text-decoration:none;
padding:0px 10px;
}

div.login_header div.menu a:hover {background-color:#6D86B7;}

div.login_header div.img {
width:50px;
height:50px;
position:absolute;
z-index:1;
}

div.login_header div.img img {border:none;}

#sidebar #fbcomcon {font:11px/13px 'lucida grande',tahoma,verdana,arial,sans-serif;}
#sidebar #fbcomcon .wallkit_post .wallkit_postcontent h4{padding:0 5px 3px 0;font-weight:normal;line-height:12px;}
#sidebar #fbcomcon .wallkit_post .wallkit_postcontent h4 .wall_time{margin:0;font-size:9px;padding:0;color:#808080}
#fbcomcon .auto_resize_iframe{height:auto}
#fbcomcon h1{font-size:14px}
#fbcomcon h4, #fbcomcon h5{font-size:11px}
#fbcomcon a{cursor:pointer;color:#3b5998;-moz-outline-style:none;text-decoration:none}
#fbcomcon a:hover{text-decoration:underline}
#fbcomcon img{border:0}
#fbcomcon ul{list-style-type:none;margin:0;padding:0}
#fbcomcon .clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
#fbcomcon .clearfix{display:block}
#fbcomcon .ie6 .clearfix,
#fbcomcon .ie7 .clearfix,
#fbcomcon .ie8 .clearfix{zoom:1}
#fbcomcon .wallkit_frame{}
#fbcomcon .wallkit_frame .inputsubmit-disabled{background-color:#fff;border-bottom:1px solid #999;border-right:1px solid #999;color:#666}
#fbcomcon .wallkit_frame .pager{overflow:hidden;text-align:right;padding-bottom:10px}
#fbcomcon .wallkit_post{margin:10px 10px 5px 0;padding-bottom:5px;border-bottom:1px solid #d8dfea}
#fbcomcon .wallkit_post .wallkit_profilepic{position:absolute;width:50px}
#fbcomcon .wallkit_post .wallkit_postcontent{margin-left:50px;padding-left:10px}
#fbcomcon .wallkit_post .wallkit_postcontent h4{padding:0 5px 3px 0;font-weight:normal}
#fbcomcon .wallkit_post .wallkit_postcontent h4 .wall_time{margin-left:1px;font-size:9px;padding:2px 0 0 4px;color:#808080}
#fbcomcon .wallkit_post .wallkit_postcontent h4 .time{display:none}
#fbcomcon .wallkit_post .wallkit_postcontent h4 a{font-weight:bold}
#fbcomcon .wallkit_post .wallkit_postcontent div{padding:3px 0}
#fbcomcon .wallkit_post .wallkit_profilepic img{display:block;float:left}
#fbcomcon .wallkit_post div.wallkit_actionset{font-size:9px;padding-bottom:3px}
#fbcomcon .wallkit_title{font-size:16px;font-weight:bold;overflow:hidden}
#fbcomcon .wallkit_title div.title_left{float:left}
#fbcomcon .wallkit_subtitle{font-size:11px;font-weight:normal;margin-bottom:10px;text-align:right;}
#fbcomcon .wallkit_form{padding:5px 10px 5px 0}
#fbcomcon .wallkit_form .editsettings{float:right;margin:5px}
#fbcomcon .wallkit_form .inputtext{display:block;margin:5px 0 5px 0}
#fbcomcon .wallkit_form .inputsubmit{margin:0 5px 0 0;display:inline}
#fbcomcon .wallkit_form div.text_spacer{padding-left:5px;padding-right:13px}
#fbcomcon .wallkit_form textarea{overflow:hidden;display:inline;height:44px;padding:3px;margin-top:5px;width:100%}
#fbcomcon .wallkit_form .toggleform{text-align:center;margin:5px 0;padding-left:10px;padding-right:18px}
#fbcomcon .wallkit_form .login{text-align:center;margin:5px 0}
#fbcomcon .wallkit_form .hidden{display:none}
#fbcomcon .wallkit_form .hidden textarea{display:none}
#fbcomcon .wallkit_form .hidden .inputsubmit{display:none}
#fbcomcon .wallkit_form div.loading_page{position:absolute;padding-top:60px;margin-left:19px}
#fbcomcon .wallkit_form div.pic_hidden{padding-top:10px}
#fbcomcon .wallkit_form div.profile_pic{position:absolute}
#fbcomcon .wallkit_form .composer{padding:0 0 0 55px;background:transparent none repeat scroll 0 0;border:0}
#fbcomcon .wallkit_form div.connect_area{margin:5px}
#fbcomcon .wallkit_form div.connect_area div.nameemail{float:left}
#fbcomcon .wallkit_form div.connect_area div.or{float:left;font-size:13pt;font-weight:bold;padding:15px 30px}
#fbcomcon .wallkit_form div.connect_button_text .hint_text{display:inline}
#fbcomcon .wallkit_form div.connect_button_text .anon{display:block;width:169px}
#fbcomcon .wallkit_form div.connect_area div.connect_button_text{float:left}
#fbcomcon .wallkit_form div.connect_area div.connect_button_text .connect_button{margin:5px 10px 5px 0;vertical-align:middle}
#fbcomcon .wallkit_form div.post_area{float:right;padding:5px 5px 5px 10px}
#fbcomcon .wallkit_form div.post_area .uiButton{margin:0 0 0 10px}
#fbcomcon .wallkit_form div.post_area div.connected{display:inline}
#fbcomcon .wallkit_form .show_not_connected div.post_area div.connected{display:none}
#fbcomcon .wallkit_form div.post_button{margin:10px}
#fbcomcon .wallkit_form .show_connected .connect_area{display:none}
#fbcomcon .wallkit_form .show_connected .not_connected{display:none}
#fbcomcon .wallkit_form .show_not_connected .connected{display:none}
#fbcomcon .wallkit_subtitle .pager{display:inline;}
#fbcomcon .wallkit_subtitle .post_counter{display:inline;margin:0 5px;}
#fbcomcon .wallkit_subtitle .subtitle_action{display:inline;float:right}
#fbcomcon div.wallkit_subtitle div.subtitle_right .left{float:right}
#fbcomcon .wallkit_subtitle span.pipe{float:right}
#fbcomcon .mu-connect-disable-logout .logout{display:none}
#fbcomcon div.hidden{display:none}
#fbcomcon .auto_resize_iframe input.inputcancel{margin-left:10px}
#fbcomcon #bootloader_css_bwgy0uih1y8g8cgo_pkg_css { height: 42px; }
#fbcomcon .pagerpro{display:inline;}
#fbcomcon .pagerpro .pagerpro_li{display:inline}
#fbcomcon .pagerpro .pagerpro_a{padding:3px;padding-bottom:2px}
#fbcomcon .pagerpro .pagerpro_a:hover{background-color:#3b5998;border-color:#d8dfea;border-bottom:1px solid #3b5998;color:#fff;text-decoration:none}
#fbcomcon .pagerpro .current .pagerpro_a{border-color:#3b5998;border-bottom:2px solid #3b5998;color:#3b5998;font-weight:bold;padding-left:2px;padding-right:2px}
#fbcomcon .pagerpro .current .pagerpro_a:hover{background-color:#3b5998;color:#fff}
#fbcomcon .pagerpro .disabled{color:#999;cursor:default;background:transparent;border:none}